# =========================
# VS Code
# =========================
.vscode/

# =========================
# Python
# =========================

PyCharm/

__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/
ENV/

.env
.pytest_cache/
.mypy_cache/

# =========================
# C / C++
# =========================
**/build/
**/builds/

*.o
*.obj
*.exe
*.out
*.gch

# =========================
# Java
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*~

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Archives
# =========================
*.zip
*.7z
*.rar

# =========================
# Linux binaries
# =========================
*.bin
