* {
Margin:0;
Padding:0;
Box-sizing: border-box;
Font-family: 'Gilroy';
}

html,body{
Width:100%;
Height:100%;
}

* {
Margin:0;
Padding:0;
Box-sizing: border-box;
Font-family: 'Gilroy';
}

html,body{
Width:100%;
Height:100%;
} 